body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li input[type="text"] {
    margin-right: 10px;
    flex-grow: 1;
}

li .save-btn {
    background-color: #28a745;
    cursor: pointer;
    margin-right: 10px;
}

li .save-btn:hover {
    background-color: #218838;
}

li .delete-btn {
    background-color: #ff4d4d;
    cursor: pointer;
}

li .delete-btn:hover {
    background-color: #d93636;
}